    <%- include ('../partials/header'); %>
    <title>Chat</title>
  </head>
    <body>
        <br>
        <br>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 offset-3 float-md-center">
          <div class="jumbotron">
            <h1 class="display-4">About Us</h1>
            <hr>
            <p class="lead">Add something here...</p>
          </div>
        </div>
        <%- include ('../partials/footer'); %>
