    <%- include ('../partials/header'); %>
    <link rel="stylesheet" href="/css/chatStyle.css">
    <title>Chat</title>
    <!--Body of Website-->
        <div class="conatiner" id="chat-body">
          <div class="row">
            <div class="col-3" id="chat-select-container">
              <div class="row">
                <div class=chat-search>
                  <input type="text" placeholder="Search">
                  <button class="btn btn-light" onclick="search()"> Search </button>
                </div>
              </div>
              <form action="/chat/select_chat" method="POST">
                <div class="chat-select-scroll-box">
                  <ul class="chat-select">
                    <!--Placeholder chat until javascript is working-->
                    <li class="chats">
                      <div class="chat-pic">
                        <input type="image" name="submit" src="/img/default_profile_pic.jpg" alt="Profile Pic"></input>
                      </div>
                      <p class="name">
                        <button type="submit" name="submit" value="4">Test User 1</button>
                      </p>
                    </li>
                    <li class="chats">
                      <div class="chat-pic">
                        <input type="image" name="submit" src="/img/default_profile_pic.jpg" alt="Profile Pic"></input>
                      </div>
                      <p class="name">
                        <button type="submit" name="submit" value="5">Test User 2</button>
                      </p>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
            <!--End of chat-select-->
            <!--Start of chatbox-->
            <div class="col-8">
              <div class="row">
                <div class="selected-chat">
                  <span>To: <span class="name">Test User 1</span></span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="chat-scroll-box">
                    <ul class="chat-box" >
                      <!--Received message template-->
                      <%
                      if(chat_messages){
                        msg = '';
                        for(let i = 0; i < chat_messages.length; i++){
                          if(chat_messages[i].user_id == 1){
                            msg += '<div class="row"><li class="chat-sent"><div class="user-pic">' +
                              '<img src="/img/default_profile_pic.jpg" alt "Profile Pic" onclick="openProfile();"></div>' +
                              '<div class="chat-text">' + chat_messages[i].line_text + '</div>' +
                              '<div class="chat-time">' + chat_messages[i].createdAt.toLocaleTimeString() +'</div></li></div>';
                          }
                          else {
                              msg += '<li class="chat-received"><div class="user-pic">' +
                                '<img src="/img/default_profile_pic.jpg" alt "Profile Pic" onclick="openProfile();"></div>' +
                                '<div class="chat-text">' + chat_messages[i].line_text + '</div>' +
                                '<div class="chat-time">' + chat_messages[i].createdAt.toLocaleTimeString() +'</div></li>';
                          }
                        }
                        %>
                      <%- msg %>
                      <% } %>
                    </ul>
                  </div>
                  <div class="chat-input mt-auto mb-0">
                    <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!--End of chatbox-->
          </div>
        </div>
        <%- include ('../partials/footer'); %>
