    <%- include ('../partials/header'); %>
    <link rel="stylesheet" href="/css/chatStyle.css">
    <title>Chat</title>
  </head>
  <body>
    <!--Body of Website-->
        <div class="conatiner">
          <div class="row">
            <div class="col-3" id="chat-select-container">
              <div class="row">
                <div class=chat-search>
                  <input type="text" placeholder="Search">
                  <button class="btn btn-light" onclick="search()"> Search </button>
                </div>
              </div>
              <div class="chat-select-scroll-box">
                <ul class="chat-select">
                  <!--Placeholder chat until javascript is working-->
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="/img/default_profile_pic.jpg" alt "Profile Pic" onclick="selectChat();">
                    </div>
                    <p class="name">
                      <span onclick="selectChat();">Test User 1</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 2</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 3</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 4</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 5</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 6</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 7</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic" onclick="selectChat();">
                    </div>
                    <p class="name">
                      <span>Test User 8</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 9</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 10</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 11</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 12</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 13</span>
                    </p>
                  </li>
                  <li class="chats">
                    <div class="chat-pic">
                      <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic">
                    </div>
                    <p class="name">
                      <span>Test User 14</span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
            <!--End of chat-select-->
            <!--Start of chatbox-->
            <div class="col-8">
              <div class="row">
                <div class="selected-chat">
                  <span>To: <span class="name">Test User 1</span></span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="chat-scroll-box">
                    <ul class="chat-box" >
                      <!--Received message template-->
                      <li class="chat-received">
                        <div class="user-pic">
                          <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic" onclick="openProfile();">
                        </div>
                        <div class="chat-text"> Sample text </div>
                        <div class="chat-time"> 1:06 AM, June 25</div>
                      </li>
                      <li class="chat-sent">
                        <div class="user-pic">
                          <img src="../resources/img/default_profile_pic.jpg" alt "Profile Pic" onclick="openProfile();">
                        </div>
                        <div class="chat-text"> This is another sample text </div>
                        <div class="chat-time"> 1:17 AM, June 25</div>
                      </li>
                    </ul>
                  </div>
                  <div class="chat-input mt-auto mb-0">
                    <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                  </div>
                </div>
              </div>
            </div>
            <!--End of chatbox-->
          </div>
        </div>
        <%- include ('../partials/footer'); %>
