<%- include ('../partials/header'); %>
<title>Location Finder</title>
<body>
    <div class="col" style="width:1200x; margin: 0 auto;">
        <input class="form-control" type="text" id="tag">
      </div>
      <div class="col">
        <input class="btn btn-light" type="submit" id="Submit" value = "Submit" onclick="makeApiCall()">
      </div>
    </div>



<%- include ('../partials/footer'); %>