    <%- include ('../partials/header'); %>
    <title>Map</title>
  </head>
    <body>
      <script src="../../resources/js/maps.js"></script>
      <br>
      <script>
        // Initialize and add the map
        function initMap() {
          // The location of Uluru
          const uluru = { lat: 39.6403, lng:-106.3742 }; 
          // The map, centered at Uluru
          const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 9,
            center: uluru,
          });
          // The marker, positioned at Uluru
          const marker = new google.maps.Marker({
            position: uluru,
            map: map,
          });
        }
      </script>
      <div id="map" style="width: 80%; height: 700px; margin: auto; border:10px solid cadetblue">
      </div>
        <br>
        <br>
      </div>
      <form method="POST" action="/locations/get_locations">
        <div class="row" style="margin-left: auto; margin-right: auto;">
          <input class="form-control" type="text" name="address" placeholder="Enter a place in Colorado">
        </div>
        <div class="row">
          <input class="btn btn-dark" type="submit" name="Submit" value = "Submit" onclick="convertGeo()">
        </div>
      </form>
        <script
        src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyDPSOpMS_xDzRDg50J8ee34DTdmHQOkUj0&callback=initMap&libraries=&v=weekly"
        async
        ></script>
        <%- include ('../partials/footer'); %>
