<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Search Rides</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <div id="nav_container"></div>
  </head>
  <body>
    <div style="position: absolute;  top: 25vh; left: 29vw;">
      <div id="search_ui">
        <h1 class="text-center" style="padding: 20px">Ride Search</h1>
        <div class="row" id="field_labels">
            <div class="col">
              Trip start date
            </div>
            <div class="col">
              Trip end date
            </div>
            <div class="col">
              Origin
            </div>
            <div class="col">
              Destination
            </div>
        </div>
        <div class="row" id="fields">
          <div class="col">
            <input type='date' class="form-control" id='start_date' style='width: 10vw;'>
          </div>
          <div class="col">
            <input type='date' class="form-control" id='end_date' style='width: 10vw;'>
          </div>
          <div class="col">
            <input type='text' class="form-control" style='width: 10vw;'>
          </div>
          <div class="col">
            <input type='text' class="form-control" style='width: 10vw;'>
          </div>
        </div>
        <div class="row text-center">
          <div class="col">
            <button type="button" name="button" onclick="submitRideSearch()" style="margin: 20px 0px; width: 20vw">Submit</button>
          </div>
        </div>
      </div>
      <div id="results" style="visibility: hidden">
        <h2 class="text-center" style="padding: 0px">Groups</h2>
        <div id="group_results" class="row">
          <div class="col">
            Start
          </div>
          <div class="col">
            End
          </div>
          <div class="col">
            Origin
          </div>
          <div class="col">
            Destination
          </div>
          <div class="col">
            # Travellers
          </div>
        </div>
        <h2 class="text-center" style="padding: 20px">Individuals</h3>
        <div id="individual_results" class="row">
          <div class="col">
            Start
          </div>
          <div class="col">
            End
          </div>
          <div class="col">
            Origin
          </div>
          <div class="col">
            Destination
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $(function(){
        $("#nav_container").load("nav.html");
      });
    </script>
  </body>
</html>
