
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login Page</title>
	
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/styleRegister.css" rel="stylesheet">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <div class="container">
        <a class="navbar-brand" href="HomeMain.html">
          <img src="../resources/img/logo.jpg" alt="logo" width="100" height="90">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-fill w-100" id="navbarSupportedContent nav-fill w-100">
        <ul class="navbar-nav w-100">
          <li class="nav-item fs-4 fw-bold me">
            <a class="nav-link active" aria-current="page" href="HomeMain.html">Home</a>
          </li>
          <li class="nav-item fs-4 fw-bold">
            <a class="nav-link" href="map.html">Map</a>
          </li>
          <li class="nav-item fs-4 fw-bold">
            <a class="nav-link" href="Register.html">Register</a>
          </li>
          <li class="nav-item dropdown fs-4 fw-bold">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Choose a Ride
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="rideSearch.html">Passenger</a></li>
              <li><a class="dropdown-item" href="#">Driver</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="chat.html">Chat</a></li>
            </ul>
          </li>
          <li class="nav-item fs-4 fw-bold">
            <a class="nav-link" href="about.html" tabindex="-1" aria-disabled="true">About</a>
          </li>
        </ul>
        <!-- <form class="d-flex">
          <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  </head>

  <body>
		
    
	<div class="container" align="center">
		
		<div class="content"></div>
		<h1>Login</h1>
    
    <br>
    </br>
    <br>
    </br>
    
		<form action="/action_page.php">
      <label for="email">Email or username:</label>
      <input type="text" id="email" name="email" required><br><br>
      <label for="pwd">Password:</label>
      <input type="text" id="pwd" name="pwd" minlength="8" required><br><br>
      <input type="submit">
    </form>
  </div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	</body>
</html>
